#portfolio{
    color: white;
    padding: 50px 100px;
}
.portfolio-title{
    text-align: center;
}
.portfolio-title h2{
    font-size: 30px;
}
.portfolio-title p{
    color: rgb(159, 157, 157);
    margin-top: 10px;
}
#portfolio ul{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#portfolio ul li{
    list-style: none;
    margin-left: 30px;
    padding: 10px 20px;
    background-color: black;
    border: 1px solid rgb(70, 70, 70);
}
#portfolio ul .yellow{
    background: orangered;
}
.projects{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.projects img{
   width: 400px;
   height: 380px;
}
.projects .des{
    margin-top: 30px;
}

.projects .des h2{
    margin : 10px 0;
    font-size: 30px;
}

/* responsive */

@media screen and (min-width : 200px)  and (max-width : 576px){
    #portfolio{
        padding: 20px 10px;
    }
   
    #portfolio ul li{
        list-style: none;
        margin-left: 5px;
        padding: 5px 10px;
    }
    .projects{
        grid-template-columns: repeat(1, 1fr);
    }

}